<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>ML Family (Super-)Trees</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/skeleton-tabs.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/css/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="row">
    <div class=class="u-full-width" align="center" style="padding-top:3rem">
      <h3>ML Family (Super-)Trees</h3>
    </div>
  </div>

  <div class="container">

    <!-- Tab Navigation -->
    <ul class="tab-nav">
      <li>
        <a class="button active" href="#input-data">Input</a>
      </li>
      <li>
        <a class="button" href="#view-data">View</a>
      </li>
    </ul>
    <!-- End of Tab Navigation -->

    <div class="tab-content">
      <div class="tab-pane-active" id="input-data">
        <div class="row">
          <div class="one-half column" style="margin-top: 12.5%">
            <h4>Batch Entry</h4>
            <p>Choose a file to upload</p>
            <button id="uploadbutton" onclick=chooseUpload();>Choose...</button>
          </div>
        </div>
        <div class="row">
          <div class="five columns">
            <hr>
          </div>
          <div class="two columns" align="center">OR</div>
          <div class="five columns">
            <hr>
          </div>
        </div>

        <div class="row">
          <h4>Manual Entry</h4>
          <p>Add family relationships manually...</p>
        </div>
      </div>

    <div class="tab-pane" id="view-data">
    </div>
  </div>
  

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
