<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>ML Family (Super-)Trees</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/skeleton-tabs.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/css/favicon.png">

  <script src="http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="row">
    <div class=class="u-full-width" align="center" style="padding-top:3rem">
      <h3>ML Family (Super-)Trees</h3>
    </div>
  </div>

  <div class="container">
    <embed type="image/svg+xml" src="/static/images/F16.svg" id="svg-container" width="1000px" height="500px"/>
        <div class="row">
          <div class="one-half column" style="margin-top: 12.5%">
            <!-- <h4>Batch Entry</h4>
            <p>Choose a file to upload</p> -->
            <!-- <button id="uploadbutton" onclick=chooseUpload();>Choose...</button> -->
            <label for="graph-selector">Select graph to display:
              <select id="graph-selector">
                <option value="F1.svg">Graph 1</option>
                <option value="F2.svg">Graph 2</option>
                <option value="F3.svg">Graph 3</option>
                <option value="F4.svg">Graph 4</option>
                <option value="F5.svg">Graph 5</option>
                <option value="F6.svg">Graph 6</option>
                <option value="F7.svg">Graph 7</option>
              </select>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="five columns">
            <hr>
          </div>
          <div class="two columns" align="center">OR</div>
          <div class="five columns">
            <hr>
          </div>
        </div>

        <div class="row">
          <h4>Manual Entry</h4>
          <p>Add family relationships manually...</p>
        </div>

  </div>

  <script>
    // var panZoomTiger = svgPanZoom('#svg-container');
    var svgContainer = document.getElementById('svg-container');
    svgContainer.addEventListener('load', function(){
      // Will get called after embed element was loaded
      svgPanZoom(svgContainer);
    });

    var graphSelector = document.getElementById('graph-selector');

    graphSelector.addEventListener('input', function() {
      svgContainer.setAttribute("src", "/static/images/" + graphSelector.value);
    });
  </script>
  

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
